.section-modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 40px 24px;
    background-color: var(--color-grey-1-opacity-5);
}

.divModal {
    background-color: var(--color-mode);
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    align-items: flex-start;
    gap: 25px;
    border-radius: var(--radius-1);
    padding-bottom: 25px;
}


.header-modal {
    height: 25px;
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 0;
    margin: 0 auto;
    align-items: center;
}
.div-read {
    width: 85%;
    margin: 0 auto;

}

.div-input{
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.input-modal {
    height: 44px;
    width: 100%;
    border-radius: var(--radius-1);
    padding: 0px 1rem;
    background-color: var(--color-mode);
    border: 1px solid var(--color-grey-4);

}

.div-value {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.btnTypeValue {
    height: 32px;
    width: 100%;
    border-radius: var(--radius-1);
    padding: 0px 1rem;
    border: 2px solid var(--color-grey-5);
    color: var(--color-grey-2);
}

.btnTypeValue:hover {
    border: 2px solid var(--color-brand-1);
    background-color: var(--color-brand-3)
}

.div-btn {
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btnCancel-modal {
    height: 31px;
    width: 48%;
    border-radius: 8px;
    padding: 7px 14px;
    background-color: var(--color-grey-4);
    color: var(--color-grey-2);
    border: transparent;

}

.btnSubmit-modal {
    height: 31px;
    width: 48%;
    border-radius: 8px;
    padding: 7px 14px;
    background-color: var(--color-brand-1);
    color: var(--color-mode);
    border: transparent;
}
